<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <main class="container py-4 mt-5">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Profile</h1>
        <a class="btn btn-secondary" href="{% url 'profile' %}">Go to Profile</a>
      </div>
      <p>Welcome to the Profile Home Page. Click the button above to view and edit your profile.</p>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>